@(usuario: Usuario)
@main("Acerca de", usuario) {

  <div class="hero">
    Acerca de
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Grupo 14</h3>
    </div>
    <table class="table table-striped">
        <tr>
            <th>David Pérez Segura</th>
        </tr>
        <tr>
            <th>Quico Llinares Llorens</th>
        </tr>
        <tr>
            <th>Eduardo Navarro Poveda</th>
        </tr>
    </table>
  </div>
  <div class="card-footer text-muted">
    <div class="pull-left">Versión: 1.3-SNAPSHOT</div>
    <div class="pull-right">
      <div class="text-right">Versión publicada el 19/12/2017</div>
    </div>
  </div>
}
