@(usuario: Usuario)
@main("Acerca de", usuario) {
  <h2>Acerca de</h2>
  <table class="table table-striped">
      <tr>
          <th>David Pérez Segura</th>
      </tr>
      <tr>
          <th>Quico Llinares Llorens</th>
      </tr>
      <tr>
          <th>Eduardo Navarro Poveda</th>
      </tr>
  </table>
  <div class="card-footer text-muted">
    <div class="pull-left">Versión: 1.2-SNAPSHOT </div>
    <div class="pull-right">
      <div class="text-right">Versión publicada el 21/11/2017</div>
    </div>
  </div>
}
