@(tablero: Tablero, usuario: Usuario)

<style type="text/css">
            dummydeclaration { padding-left: 4em; } /* Firefox ignores first declaration for some reason */
            tab1 { padding-left: 4em; }
        </style>

@main("Detalle de tablero", usuario) {
  <h1>Detalle del tablero @tablero.getId()</h1>
  <ul>
     <li><strong>Nombre: </strong> @tablero.getNombre()</li>
     <li><strong>Administrador: </strong> @tablero.getAdministrador().getLogin()</li>
     <li><strong>Participantes: </strong> </li>
     @for(participante <- tablero.getParticipantes()) {
       <p><tab1>@participante.getLogin()</tab1></p>
     }
  </ul>
}
