@(usuario: Usuario)

@main("Detalle de usuario", usuario) {
  <div class="hero">
    Perfil
  </div>
  <br>
  <div class="hero-small-center">
    Login: @usuario.getLogin()
  </div>
  <div class="hero-small-center">
    Email: @usuario.getEmail()
  </div>
  <div class="hero-small-center">
    Nombre: @usuario.getNombre()
  </div>
  <div class="hero-small-center">
    Apellidos: @usuario.getApellidos()
  </div>
  <div class="hero-small-center">
    @if(usuario.getFechaNacimiento() != null) {
      Fecha de nacimiento: @usuario.getFechaNacimientoConFormato()
    }
  </div>
  <br>
  <div class="button-center">
    <a class="btn btn-primary" href="@routes.UsuarioController.formularioUpdate(usuario.getId())">Modificar Perfil</a>
  </div>
  <td></td>
}
