@(tablero: Tablero, usuario: Usuario)

<style type="text/css">
            dummydeclaration { padding-left: 4em; } /* Firefox ignores first declaration for some reason */
            tab1 { padding-left: 4em; }
        </style>

@main("Detalle de tablero", usuario) {
  <div class="hero">
    Tablero @tablero.getNombre()
  </div>
  <div class="hero-small">
    Administrador: @tablero.getAdministrador().getLogin()
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Participantes</h3>
    </div>
    <table class="table table-striped">
     @for(participante <- tablero.getParticipantes()) {
       <tr>
         <td>@participante.getLogin()</td>
       </tr>
     }
    </table>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Tamaños</h3>
    </div>
    <table class="table table-striped">
     @for(size <- tablero.getTareaSize()) {
       <tr>
         <td>@size.getNombre()</td>
       </tr>
     }
    </table>
  </div>


  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Tareas</h3>
    </div>
    <table class="table table-striped">
     <tr>
         <th>Tarea</th>
         <th>Fecha Limite</th>
         <th>Terminada</th>
     </tr>
     @for(tarea <- tablero.getTareas()) {
       <tr>
         <td>@tarea.getTitulo()</td>
         <td>
           @if(tarea.getFechaLimite() != null) {
               @tarea.getFechaLimite().format("dd-MM-yyyy")
           }</td>
           <td>
             @if(tarea.getTerminada()) {
               <span class="glyphicon glyphicon-ok" title="Tarea terminada"></span>
             } else {
               <span class="glyphicon glyphicon-remove" title="Tarea no terminada"></span>
             }
           </td>
       </tr>
     }
    </table>
  </div>
}
