@(usuario: Usuario, idUsuario: Long, idTarea: Long, titulo: String,  fechaLimite: Date, tableroId: Long, sizeId: Long, mensaje: String)

<script type="text/javascript">
    function getSizes() {
      var idTablero = document.getElementById("selectTablero").value
      var selectSize = document.getElementById("selectSize")
      while (selectSize.options.length > 1) {
          selectSize.remove(1);
      }
      if (idTablero != 0) {
        $.ajax({
            url: '/usuarios/@usuario.getId()/tableros/' + idTablero + '/sizes',
            type: 'GET',
            success: function(results) {
                //refresh the page
                for (var size of results) {
                  var opt = document.createElement('option')
                  opt.value = size.id
                  opt.innerHTML = size.nombre
                  selectSize.appendChild(opt)
                }
            }
        });
      }
    }
</script>
@main("Modificar Tarea", usuario) {
  @if(mensaje != "") {
     <div class="alert alert-danger">
        @mensaje
     </div>
  }
  <h1>Modificar tarea</h1>
  @helper.form(action = routes.GestionTareasController.grabaTareaModificada(idTarea)) {
     <fieldset>
        <legend>Tarea</legend>
        Título:  <input type="text" size=70 name="titulo" value= "@titulo"><br>
        Fecha Limite:
        @if(fechaLimite != null) {
          <input type="date" size=70 name="fechaLimite" value='@fechaLimite.format("yyyy-MM-dd")'>
        } else {
          <input type="date" size=70 name="fechaLimite" value='@fechaLimite'>
        }
        <br>
        Tablero: <select id="selectTablero" name="tableroId" onchange="getSizes()">
         <option value="0">null</option>
         @if(!usuario.getAdministrados().isEmpty()) {
           @for(tab <- usuario.getAdministrados()) {
             @if(tableroId==null || tab.getId()!=tableroId) {
               <option value="@tab.getId()">@tab.getNombre()</option>
             } else {
               <option value="@tab.getId()" selected>@tab.getNombre()</option>
             }
           }
         }
         @if(!usuario.getTableros().isEmpty()) {
           @for(tab <- usuario.getTableros()) {
             @if(tableroId==null || tab.getId()!=tableroId) {
               <option value="@tab.getId()">@tab.getNombre()</option>
             } else {
               <option value="@tab.getId()" selected>@tab.getNombre()</option>
             }
           }
         }
       </select>
       <br>
         Size: <select id="selectSize" name="sizeId">
          <option value="0">null</option>
          @if(tableroId != null) {
            @for(tab <- usuario.getAdministrados()) {
              @if(tab.getId() == tableroId) {
                @for(size <- tab.getTareaSize()) {
                  @if(sizeId == null || size.getId() != sizeId) {
                    <option value="@size.getId()">@size.getNombre()</option>
                  } else {
                    <option value="@size.getId()" selected>@size.getNombre()</option>
                  }
                }
              }
            }
          }
       </select>
     </fieldset>
     <p/>
     <p>
        <input type="submit" class="btn btn-primary" value="Guardar">
        <a class="btn btn-warning" href="@routes.GestionTareasController.listaTareas(idUsuario, true)">Cancelar</a>
     </p>
  }
}
