@(usuario: Usuario, sizeForm: Form[Size], tablero: Tablero, mensaje: String)
@main("Nuevo Size", usuario) {
   @if(mensaje != "") {
       <div class="alert alert-danger">
           @mensaje
       </div>
   }
   <h1>Nuevo tamaño para el tablero @tablero.getNombre() </h1>
   @helper.form(action = routes.GestionTablerosController.creaNuevoSize(tablero.getId())) {
       <fieldset>
           <legend>Nuevo tamaño</legend>
           @helper.inputText(sizeForm("nombre"), '_label -> "Nombre", 'size -> 70)
       </fieldset>
       <p>
          <input type="submit" class="btn btn-primary" value="Crear">
       </p>
   }
}
