@(usuario: Usuario, grupoForm: Form[Grupo], mensaje: String)
@main("Nuevo grupo", usuario) {
   @if(mensaje != "") {
       <div class="alert alert-danger">
           @mensaje
       </div>
   }
   <div class="hero">
     Nuevo grupo
   </div>
   @helper.form(action = routes.GestionGruposController.creaNuevoGrupo(usuario.getId())) {
     <div class="form-group-row">
       <div class="col-xs-4 col-lg-offset-4">
         <div class="input-group">
           <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-pencil"></span></span>
           <input type="text" class="form-control" placeholder="Nombre" aria-describedby="basic-addon1" name="nombre">
         </div>
         <br>
         <button type="submit" class="btn btn-primary">Crear grupo</button>
       </div>
     </div>
   }
}
