@(usuario: Usuario, idUsuario: Long, idTarea: Long, titulo: String,  fechaLimite: Date, tableroId: Long, sizeId: Long, mensaje: String)

<script type="text/javascript">
    function getSizes() {
      var idTablero = document.getElementById("selectTablero").value
      var selectSize = document.getElementById("selectSize")
      while (selectSize.options.length > 1) {
          selectSize.remove(1);
      }
      if (idTablero != 0) {
        $.ajax({
            url: '/usuarios/@usuario.getId()/tableros/' + idTablero + '/sizes',
            type: 'GET',
            success: function(results) {
                //refresh the page
                for (var size of results) {
                  var opt = document.createElement('option')
                  opt.value = size.id
                  opt.innerHTML = size.nombre
                  selectSize.appendChild(opt)
                }
            }
        });
      }
    }
</script>
@main("Modificar Tarea", usuario) {
  @if(mensaje != "") {
     <div class="alert alert-danger">
        @mensaje
     </div>
  }
  <div class="hero">
    Modificar tarea
  </div>
  @helper.form(action = routes.GestionTareasController.grabaTareaModificada(idTarea)) {
    <div class="form-group-row">
      <div class="col-xs-4 col-lg-offset-4">
        <h4><span class="label label-primary">Título</span></h4>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-pencil"></span></span>
          <input type="text" class="form-control" placeholder="Título" aria-describedby="basic-addon1" name="titulo" value= "@titulo">
        </div>
        <br>
        <h4><span class="label label-primary">Fecha límite</span></h4>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-calendar"></span></span>
          @if(fechaLimite != null) {
            <input type="date" class="form-control" aria-describedby="basic-addon1" name="fechaLimite" value='@fechaLimite.format("yyyy-MM-dd")'>
          } else {
            <input type="date" class="form-control" aria-describedby="basic-addon1" name="fechaLimite" value='@fechaLimite'>
          }
        </div>
        <br>
        <h4><span class="label label-primary">Tablero</span></h4>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-blackboard"></span></span>
          <select id="selectTablero" class="form-control" aria-describedby="basic-addon1" name="tableroId" onchange="getSizes()">
            <option value="0">null</option>
            @if(!usuario.getAdministrados().isEmpty()) {
              @for(tab <- usuario.getAdministrados()) {
                @if(tableroId==null || tab.getId()!=tableroId) {
                  <option value="@tab.getId()">@tab.getNombre()</option>
                } else {
                  <option value="@tab.getId()" selected>@tab.getNombre()</option>
                }
              }
            }
            @if(!usuario.getTableros().isEmpty()) {
              @for(tab <- usuario.getTableros()) {
                @if(tableroId==null || tab.getId()!=tableroId) {
                  <option value="@tab.getId()">@tab.getNombre()</option>
                } else {
                  <option value="@tab.getId()" selected>@tab.getNombre()</option>
                }
              }
            }
          </select>
        </div>
        <br>
        <h4><span class="label label-primary">Tamaño</span></h4>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-object-align-bottom"></span></span>
          <select id="selectSize" class="form-control" aria-describedby="basic-addon1" name="sizeId">
           <option value="0">null</option>
           @if(tableroId != null) {
             @for(tab <- usuario.getAdministrados()) {
               @if(tab.getId() == tableroId) {
                 @for(size <- tab.getTareaSize()) {
                   @if(sizeId == null || size.getId() != sizeId) {
                     <option value="@size.getId()">@size.getNombre()</option>
                   } else {
                     <option value="@size.getId()" selected>@size.getNombre()</option>
                   }
                 }
               }
             }
             @for(tab <- usuario.getTableros()) {
               @if(tab.getId() == tableroId) {
                 @for(size <- tab.getTareaSize()) {
                   @if(sizeId == null || size.getId() != sizeId) {
                     <option value="@size.getId()">@size.getNombre()</option>
                   } else {
                     <option value="@size.getId()" selected>@size.getNombre()</option>
                   }
                 }
               }
             }
           }
          </select>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Editar tarea</button>
        <a class="btn btn-primary" href="@routes.GestionTareasController.listaTareas(idUsuario, true)">Cancelar</a>
      </div>
    </div>
     <p>
     </p>
  }
}
