@(usuario: Usuario, tarea: Tarea, comentarioId: Long, descripcion: String, mensaje: String)
@main("Edición de comentario", usuario) {
   @if(mensaje != "") {
       <div class="alert alert-danger">
           @mensaje
       </div>
   }
   <div class="hero">
     Modificar comentario - @tarea.getTitulo()
   </div>
   @helper.form(action = routes.GestionComentariosController.grabaComentarioModificado(comentarioId)) {
     <textarea class="form-control" rows="5" id="comment" name="descripcion">@descripcion</textarea>
     <br>
      <p>
         <input type="submit" class="btn btn-primary" value="Guardar">
         <a class="btn btn-primary" href="@routes.GestionComentariosController.listaComentarios(tarea.getId(), usuario.getId())">Cancelar</a>
      </p>
   }
}
