@(usuario: Usuario, idUsuario: Long, idTarea: Long, titulo: String,  fechaLimite: Date, tableroId: Long, mensaje: String)
@main("Modificar Tarea", usuario) {
  @if(mensaje != "") {
     <div class="alert alert-danger">
        @mensaje
     </div>
  }
  <h1>Modificar tarea</h1>
  @helper.form(action = routes.GestionTareasController.grabaTareaModificada(idTarea)) {
     <fieldset>
        <legend>Tarea</legend>
        Título:  <input type="text" size=70 name="titulo" value= "@titulo"><br>
        Fecha Limite:
        @if(fechaLimite != null) {
          <input type="date" size=70 name="fechaLimite" value='@fechaLimite.format("yyyy-MM-dd")'>
        } else {
          <input type="date" size=70 name="fechaLimite" value='@fechaLimite'>
        }
        Tablero: <select name="tableroId">
         <option value="0">null</option>
         @if(!usuario.getAdministrados().isEmpty()) {
           @for(tab <- usuario.getAdministrados()) {
             @if(tableroId==null || tab.getId()!=tableroId) {
               <option value="@tab.getId()">@tab.getNombre()</option>
             } else {
               <option value="@tab.getId()" selected>@tab.getNombre()</option>
             }
           }
         }
         @if(!usuario.getTableros().isEmpty()) {
           @for(tab <- usuario.getTableros()) {
             @if(tableroId==null || tab.getId()!=tableroId) {
               <option value="@tab.getId()">@tab.getNombre()</option>
             } else {
               <option value="@tab.getId()" selected>@tab.getNombre()</option>
             }
           }
         }
       </select>
     </fieldset>
     <p/>
     <p>
        <input type="submit" class="btn btn-primary" value="Guardar">
        <a class="btn btn-warning" href="@routes.GestionTareasController.listaTareas(idUsuario, true)">Cancelar</a>
     </p>
  }
}
