@(usuario: Usuario, titulo: String, fechaLimite: Date, mensaje: String)
@main("Nueva tarea", usuario) {
   @if(mensaje != "") {
       <div class="alert alert-danger">
           @mensaje
       </div>
   }
   <h1>Nueva tarea para @usuario.getLogin()</h1>
   @helper.form(action = routes.GestionTareasController.creaNuevaTarea(usuario.getId())) {
       <fieldset>
           <legend>Nueva tarea</legend>
           Título:  <input type="text" size=70 name="titulo" value= "@titulo"><br>
           Fecha Limite: <input type="date" size=70 name="fechaLimite" value='@fechaLimite'>
       </fieldset>
       <p>
          <input type="submit" class="btn btn-primary" value="Guardar">
       </p>
   }
}
