@(tablerosAdmin: List[Tablero], tablerosParticipa: List[Tablero], tablerosSinRelacion: List[Tablero], usuario: Usuario, mensaje: String)
@main("Tableros administrados por el usuario @usuario.getLogin()") {

    <h2> Listado de tableros administrados por @usuario.getLogin()</h2>

    <table class="table table-striped">
        <tr>
            <th>Tableros</th>
            <th>Acción</th>
        </tr>
    @for(tablero <- tablerosAdmin) {
        <tr>
            <td>@tablero.getNombre()</td>
            <td></td>
        </tr>
      }

      <tr>
          <td><a href="@routes.GestionTablerosController.formularioNuevoTablero(usuario.getId())">
              <span class="glyphicon glyphicon-plus"/></a></td>
          <td><a href="@routes.UsuarioController.logout()">Salir</a></td>
      </tr>

  </table>

    <h2> Listado de tableros en los que participa @usuario.getLogin()</h2>

    <table class="table table-striped">
        <tr>
            <th>Tableros</th>
            <th>Acción</th>
        </tr>
    @for(tablero <- tablerosParticipa) {
        <tr>
            <td>@tablero.getNombre()</td>
            <td></td>
        </tr>
      }

      <tr>
          <td><a href="@routes.GestionTablerosController.formularioNuevoTablero(usuario.getId())">
              <span class="glyphicon glyphicon-plus"/></a></td>
          <td><a href="@routes.UsuarioController.logout()">Salir</a></td>
      </tr>

  </table>

    <h2> Listado de otros tableros</h2>

    <table class="table table-striped">
        <tr>
            <th>Tableros</th>
            <th>Acción</th>
        </tr>
    @for(tablero <- tablerosSinRelacion) {
        <tr>
            <td>@tablero.getNombre()</td>
            <td></td>
        </tr>
      }

      <tr>
          <td><a href="@routes.GestionTablerosController.formularioNuevoTablero(usuario.getId())">
              <span class="glyphicon glyphicon-plus"/></a></td>
          <td><a href="@routes.UsuarioController.logout()">Salir</a></td>
      </tr>

  </table>

  @if(mensaje != null) {
      <div class="alert alert-success">
          @mensaje
      </div>
  }
}
