@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String,usuario:Usuario, scripts: Html = Html(""))(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <link href="@routes.Assets.versioned("bootstrap/css/bootstrap.css")" rel="stylesheet" media="screen">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div>
              <a class="navbar-left">
                <div style="padding-right:15px; padding-top: 5px; padding-bottom: 5px;">
                  <img style="height:40px; width: 40px" src="https://cdn2.iconfinder.com/data/icons/business-office-icons/256/To-do_List-512.png" alt="Logo">
                </div>
              </a>
            </div>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            @if(usuario.getLogin() != null){
              <li><a href="@routes.GestionTareasController.listaTareas(usuario.getId(),false)">Tareas</a></li>
              <li><a href="@routes.GestionTablerosController.listaTableros(usuario.getId())">Tableros</a></li>
              <li><a href="@routes.GestionGruposController.listaGrupos(usuario.getId())">Grupos</a></li>
              <li><a href="@routes.UsuarioController.calendario(usuario.getId())">Calendario</a></li>
              <li><a href="@routes.UsuarioController.acercaDe()">Acerca de</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> @usuario.getLogin() <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="@routes.UsuarioController.detalleUsuario(usuario.getId())">Perfil</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="@routes.UsuarioController.logout()">Salir</a></li>
                  </ul>
                </li>
              </ul>
            } else{
              <li><a href="@routes.UsuarioController.formularioLogin()">Login</a></li>
              <li><a href="@routes.UsuarioController.registroUsuario()">Registro</a></li>
            }
          </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      <div class="container">
          @content
      </div>
      <script src="@routes.Assets.versioned("javascripts/jquery.min.js")" type="text/javascript"></script>
      <script src="@routes.Assets.versioned("bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
      @scripts
    </body>
</html>
